[submodule "dep"]
	path = dep
	url = https://github.com/mangos/mangosDeps.git
[submodule "src/realmd"]
	path = src/realmd
	url = https://github.com/mangos/realmd.git
[submodule "src/modules/Eluna"]
	
	path = src/modules/Eluna
	
	url = https://github.com/elunaluaengine/eluna.git
